<div class="card">
    <h4>Default Settings</h4>
    <div class="form-group">
        <label for="DefaultTitleInput">Default Title</label>

        <input
            id="DefaultTitleInput"
            class="form-control"
            type="text"
            [value]="DefaultTitle"
            (change)="changeDefaultTitle($event)" />
    </div>

    <div class="form-group">
        <label for="DefaultMessageInput">Default Message</label>

        <input
            id="DefaultMessageInput"
            class="form-control"
            type="text"
            [value]="DefaultMessage"
            (change)="changeDefaultMessage($event)" />
    </div>

    <div class="form-group">
        <label for="DefaultDurationInput">Default Duration time</label>

        <input
            id="DefaultDurationInput"
            class="form-control"
            type="text"
            [value]="DefaultDuration"
            (change)="changeDefaultDuration($event)" />
    </div>

    <h4>Toast Settings</h4>

    <div class="form-group">
        <label for="ToastTitleInput">Toast Title</label>

        <input
            id="ToastTitleInput"
            class="form-control"
            type="text"
            [(ngModel)]="ToastTitle" />
    </div>

    <div class="form-group">
        <label for="ToastMessageInput">Toast Message</label>

        <input
            id="ToastMessageInput"
            class="form-control"
            type="text"
            [(ngModel)]="ToastMessage" />
    </div>

    <div class="form-group">
        <label for="ToastDurationInput">Toast Duration time</label>

        <input
            id="ToastDurationInput"
            class="form-control"
            type="number"
            [(ngModel)]="ToastDuration" />
    </div>

    <div class="form-group">
        <label for="ToastMomentInput">Toast Moment</label>

        <input
            id="ToastMomentInput"
            class="form-control"
            type="text"
            [(ngModel)]="ToastMoment" />
    </div>

    <div class="form-group">
        <label for="ToastIconClassInput">Toast Icon Class</label>

        <input
            id="ToastIconClassInput"
            class="form-control"
            type="text"
            [(ngModel)]="ToastIconClass" />
    </div>

    <div class="form-group">
        <label for="ToastTitleClassInput">Toast Title Class</label>

        <input
            id="ToastTitleClassInput"
            class="form-control"
            type="text"
            [(ngModel)]="ToastTitleClass" />
    </div>

    <div class="form-group">
        <label for="ToastBodyClassInput">Toast Body Class</label>

        <input
            id="ToastBodyClassInput"
            class="form-control"
            type="text"
            [(ngModel)]="ToastBodyClass" />
    </div>

    <div class="form-group">
        <label for="ToastProgressLineClassInput">Toast ProgressLine Class</label>

        <input
            id="ToastProgressLineClassInput"
            class="form-control"
            type="text"
            [(ngModel)]="ToastProgressLineClass" />
    </div>

    <h4>Container Placement Settings</h4>

    <div class="form-group">
        <label for="ContainerPlacementSelect">Position</label>

        <select
            id="ContainerPlacementSelect"
            class="form-control"
            [(ngModel)]="ContainerPosition">
            <option value="topRight">TopRight</option>
            <option value="topLeft">TopLeft</option>
            <option value="bottomRight">BottomRight</option>
            <option value="bottomLeft">BottomLeft</option>
        </select>
    </div>

    <div class="row">
        <div class="col-3">
            <div class="form-group">
                <label for="ContainerMarginLeftInput">Container MarginLeft</label>
        
                <input
                    id="ContainerMarginLeftInput"
                    class="form-control"
                    type="text"
                    [(ngModel)]="ContainerMarginLeft" />
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label for="ContainerMarginRightInput">Container MarginRight</label>
        
                <input
                    id="ContainerMarginRightInput"
                    class="form-control"
                    type="text"
                    [(ngModel)]="ContainerMarginRight" />
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label for="ContainerMarginTopInput">Container MarginTop</label>
        
                <input
                    id="ContainerMarginTopInput"
                    class="form-control"
                    type="text"
                    [(ngModel)]="ContainerMarginTop" />
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label for="ContainerMarginBottomInput">Container MarginBottom</label>
        
                <input
                    id="ContainerMarginBottomInput"
                    class="form-control"
                    type="text"
                    [(ngModel)]="ContainerMarginBottom" />
            </div>
        </div>
    </div>

    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="ToastProgressBarEnabledCheckbox" [(ngModel)]="IsToastProgressLineEnabled">
        <label class="custom-control-label" for="ToastProgressBarEnabledCheckbox">Is ProgressLine Enabled</label>
    </div>

    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="ToastDurationPausedWhenMouseEnterCheckbox" [(ngModel)]="IsToastDurationPausedWhenMouseEnter">
        <label class="custom-control-label" for="ToastDurationPausedWhenMouseEnterCheckbox">Is Duration paused when mouse enter</label>
    </div>

    <div style="margin-top: 15px;">
        <button
            type="button"
            style="margin-right: 10px;"
            class="btn btn-success"
            (click)="showSimpleToast()">Simple Toast</button>

        <button
            type="button"
            class="btn btn-primary"
            (click)="showConfirmToast()">Confirm Toast</button>
    </div>
    
</div>

<Angular-Bootstrap-Toasts-Container
    [Placement]="{ position: ContainerPosition, marginTop: ContainerMarginTop, marginBottom: ContainerMarginBottom, marginLeft: ContainerMarginLeft, marginRight: ContainerMarginRight }"></Angular-Bootstrap-Toasts-Container>